footer {
    background-color:white;
    height:60px;
    width:100%;
    border-top:1px solid #CCCCCC;
    text-align:center;
    vertical-align:middle;
    position:absolute;
    bottom:0;
    margin: auto;
    float:left;
}
html {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}